:root {
    --background-color: #c8ceff;
    --accent-color: #474e8f;
    --light-gray: #EFEFEF;
    --medium-gray: #898989;
    --dark-gray: #323232;
    --very-dark-color: #121212;
    --light-color: #FEFEFE;
    --backgroud-gradient-shade: linear-gradient(
        0deg,
        #ff0077,
        #9900ff
    );
}

body {
    background: var(--background-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.music-player-container {
    background: var(--accent-color);
    box-sizing: border-box;
    box-shadow: 0 0 15px 15px rgba(0,0,0,0.1);
    width: 300px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
}

.music-player-container > .song-thumbnail {
    text-align: center;
}

.music-player-container > .song-thumbnail > img {
    width: 90%;
    margin: auto;
    margin-top: 15px;
}

.song-details-section > span {
    display: block;
    color: var(--light-gray);
}

.song-details-section > .song-name {
    font-size: 0.95rem;
}

.song-details-section > .song-album {
    font-size: 0.75rem;    
}

.music-player-container > .player-controls > .progressbar {
    position: relative;
    margin: auto;
    width: 90%;
    height: 5px;
    margin-top: 25px;
    border: 1px solid var(--light-color);
    border-radius: 5px; 
}

.music-player-container > .player-controls > .control-section {
    margin: auto;
    width: 90%;
    height: 80px;
    margin-top: 25px;
    text-align: center;
}

.music-player-container > .player-controls > .control-section > .control-btn {
    margin: auto;
    width: 50px;
    height: 50px;
    border: 2px solid var(--light-color);
    border-radius: 50%;
    background: transparent;
    color: var(--light-color);
    text-align: center;
    outline: none;
}

.music-player-container > .player-controls > .control-section > .play-pause-btn {
    width: 75px;
    height: 75px;
    font-size: 1.65rem;
    outline: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.music-player-container > .player-controls > .progressbar > .progress-bar-loading {
    width: 0%;
    height: 5px;
    background: var(--light-color);
} 

.music-player-container > .player-controls > .progressbar > .loaded-time {
    position: absolute;
    margin-top: 5px;
    font-size: 0.65rem;
    color: var(--light-color);
}

.music-player-container > .player-controls > .progressbar > .remaining-time {
    position: absolute;
    margin-top: 5px;
    right: 0;
    font-size: 0.65rem;
    color: var(--light-color);
}

.volume-control {
    position: relative;
    width: 60%;
    margin: auto;
    padding: 0;
    padding-top: 15px;
    height: 10;
    color: var(--light-color);
}

.volume-control > i {
    position: absolute;
    top: 17px;
    left: -15px;
}